- if show_new_nav? && current_user.can_create_group?
  - content_for :breadcrumbs_extra do
    = link_to "New group", new_group_path, class: "btn btn-new"

.top-area
  %ul.nav-links
    = nav_link(page: dashboard_groups_path) do
      = link_to dashboard_groups_path, title: '您的群组' do
        您的群组
    = nav_link(page: explore_groups_path) do
      = link_to explore_groups_path, title: '浏览公开群组' do
        浏览公开群组
  .nav-controls{ class: ("nav-controls-new-nav" if show_new_nav?) }
    = render 'shared/groups/search_form'
    = render 'shared/groups/dropdown'
    - if current_user.can_create_group?
      = link_to "新建群组", new_group_path, class: "btn btn-new #{("visible-xs" if show_new_nav?)}"
