.gitlab-ui-dev-kit {
  > h2 {
    margin: 35px 0 20px;
    font-weight: bold;
  }

  .example {
    padding: 15px;
    border: 1px dashed $ui-dev-kit-example-border;
    margin-bottom: 15px;

    &::before {
      content: "示例";
      color: $ui-dev-kit-example-color;
    }
  }
}
