- is_current_user = current_user == note.author

- if note_editable || !is_current_user
  .dropdown.more-actions.note-actions-item
    = button_tag title: '更多动作', class: 'note-action-button more-actions-toggle has-tooltip btn btn-transparent', data: { toggle: 'dropdown', container: 'body' } do
      %span.icon
        = custom_icon('ellipsis_v')
    %ul.dropdown-menu.more-actions-dropdown.dropdown-open-left
      - unless is_current_user
        %li
          = link_to new_abuse_report_path(user_id: note.author.id, ref_url: noteable_note_url(note)) do
            违规举报
      - if note_editable
        %li
          = link_to note_url(note), method: :delete, data: { confirm: '您确定要删除这个评论？' }, remote: true, class: 'js-note-delete' do
            %span.text-danger 删除评论
