- @no_container = true
- page_title "运行环境指标", @environment.name
- content_for :page_specific_javascripts do
  = webpack_bundle_tag 'common_vue'
  = webpack_bundle_tag 'common_d3'
  = webpack_bundle_tag 'monitoring'
= render "projects/pipelines/head"

.prometheus-container{ class: container_class }
  .top-area
    .row
      .col-sm-6
        %h3
          Environment:
          = link_to @environment.name, environment_path(@environment)

  #prometheus-graphs{ data: { "settings-path": edit_project_service_path(@project, 'prometheus'),
    "documentation-path": help_page_path('administration/monitoring/prometheus/index.md'),
    "additional-metrics": additional_metrics_project_environment_path(@project, @environment, format: :json),
    "has-metrics": "#{@environment.has_metrics?}", deployment_endpoint: project_environment_deployments_path(@project, @environment, format: :json) } }

