- @no_container = true
- page_title "运行环境"
= render "projects/pipelines/head"

%div{ class: container_class }
  .row.top-area.adjust
    .col-md-7
      %h3.page-title= @environment.name
    .col-md-5
      .nav-controls
        = render 'projects/environments/terminal_button', environment: @environment
        = render 'projects/environments/external_url', environment: @environment
        = render 'projects/environments/metrics_button', environment: @environment
        - if can?(current_user, :update_environment, @environment)
          = link_to '编辑', edit_project_environment_path(@project, @environment), class: 'btn'
        - if can?(current_user, :stop_environment, @environment)
          = link_to '停止', stop_project_environment_path(@project, @environment), data: { confirm: '您确定要停止这个运行环境？' }, class: 'btn btn-danger', method: :post

  .environments-container
    - if @deployments.blank?
      .blank-state.blank-state-no-icon
        %h2.blank-state-title
          你现在还没有任何部署。
        %p.blank-state-text
          在
          %code .gitlab-ci.yml
          中定义运行环境来跟踪部署情况。
        点击
        = link_to "这里", help_page_path("ci/environments"), class: "btn btn-success"
        了解更多。
    - else
      .table-holder
        .ci-table.environments{ role: 'grid' }
          .gl-responsive-table-row.table-row-header{ role: 'row' }
            .table-section.section-10{ role: 'columnheader' } ID
            .table-section.section-30{ role: 'columnheader' } Commit
            .table-section.section-25{ role: 'columnheader' } Job
            .table-section.section-15{ role: 'columnheader' } Created

          = render @deployments

      = paginate @deployments, theme: 'gitlab'
