- page_title "里程碑"
- if show_new_nav? && can?(current_user, :admin_milestones, @group)
  - content_for :breadcrumbs_extra do
    = link_to "New milestone", new_group_milestone_path(@group), class: "btn btn-new"

= render "groups/head_issues"

.top-area
  = render 'shared/milestones_filter', counts: @milestone_states

  .nav-controls{ class: ("visible-xs" if show_new_nav?) }
    - if can?(current_user, :admin_milestones, @group)
      = link_to "新建里程碑", new_group_milestone_path(@group), class: "btn btn-new"

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block 没有里程碑
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: "gitlab"
